.loading {
    background-color: #1a1919;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey background */
    border-top: 4px solid #229df0; /* Blue color for the top */
    border-radius: 50%; /* Makes the spinner round */
    width: 60px; /* Spinner size */
    height: 60px; /* Spinner size */
    animation: spin 1.5s linear infinite; /* Animation effect */
}

/* Define the spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Start position */
    }
    100% {
        transform: rotate(360deg); /* End position (complete rotation) */
    }
}
